body
{
    background-image: url("paper.gif");
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
}

nav
{
	background-color: black;
	opacity: 0.8;
	padding: 10px;
}

section
{
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    padding: 10px;
    width: 500px;
    font-size: 25px;
    background-color: black;
}

b
{
    color: yellow;
    margin-left: 35%;
    font-size: 20px;
}

#logout
{
    background-color: red;
    position: absolute;
    right: 8px;
    top: 15px;
}

article
{
    margin: 1% auto;
    padding: 10px;
    width: 500px;
    font-size: 25px;
    background-color:black;
}

h1
{
    animation: colorchange 50s; /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    background-color: cyan;
    text-align: center;
}

form
{
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: lawngreen;
  padding: 5px;
}

input
{
  margin-bottom: 5px;
}

@keyframes colorchange
{
  0%   {color: red;}
  25%  {color: orange;}
  50%  {color: purple;}
  75%  {color: lightgreen;}
  100% {color: red;}
}

h2
{
    color: orange;
}

#task, #delete, #list, #getIn
{
    background-color: unset;
    border: unset;
    padding: unset;
    color: unset;
    margin-right: unset; 
    text-decoration: none;
}

#task:hover, #list:hover
{
    color: blue;
}

#filterButton
{
  background-image: url(img/btn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  font-size: 10px;
  color: pink;
  border: solid 1px;
  position: relative;
  bottom: 10px;
  left: 5px;
}

#date
{
    color: brown;
}

#back
{
    background-color: red
}

#runList
{
    color: lawngreen;
}

table
{
    width: 500px;
}

tr
{
    display: flex;
    flex-direction: column;
}

td:nth-child(odd) {
    background: #E6E6FA;
}

td:nth-child(even) {
    background: #FFF0F5;
}

td 
{
    padding: 8px;
    text-align: left;
    border-bottom: 3px solid blue;
    border-left: 3px solid red; 
    display: flex;
    flex-direction: row;
}

#delete
{
   position: absolute;
   right: 385px;
}

#trash
{
    color: red;
}

#check
{
    color: LawnGreen;
}

#getIn
{
   margin-left: 71%;
}

a
{
	background-color: green;
	border:solid 1px;
	padding: 5px;
	color: white;
	margin-right: 10px;
}

a:hover
{
	background-color: red  ;
}


button  
{
    margin: 5px;
    font-size: 30px;
    border-radius: 10%;
    background-color: gray;
    border: solid 2px;
}

button:hover
{
    background-color: black;
    color: white;
}
